@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*body{
  box-sizing: border-box;
  margin:0px 0px;
  padding : 0px 0px;
  font-family: "Outfit" , sans-serif;

}

body{
  background: #000;
 
}
h1 , h4 , p, a{
  margin:5px;
  padding : 5px;
  color : #fff;
  text-decoration: none;
  
}
ul{
  list-style-type: none;
}
.btn{
  padding : 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248,217,15);
  color:#222;
  border : 1px solid #fff;
  font-weight: 600;
  cursor:pointer;
}
.btn-light{
  background: transparent;
  color:#fff;
}

.btn:hover{
  background-color:rgba(255,255,255,0.2); 
  color:#fff;
  transition: 0.3s;
}